body {
    background-color: rgb(233, 231, 231);
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

#canvas {
    background-color: white;
    border: 1px solid black;
}

.drawing-area {
    max-width: 1000px;
    max-height: 900px;
}
