@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    background-image: url(./assets/kanyey1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

main {
    padding: 20px;
    max-width: 1300px;
    margin-bottom: 50px;
    margin-left: 20px;
}

h1,
h2,
h3 {
    color: #cc0000;
}

section {
    background-color: rgba(255, 255, 255, 0.95);
    background-image: url(./assets/kanyey.png), url(./assets/kanyey_flip.png),
        url(./assets/kanyey1.png), url(./assets/kanyey1.png);
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 70px;
    border-radius: 5px;
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

nav a {
    text-decoration: none;
}

.nav-block {
    display: flex;
    padding: 5px;
    height: 60px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.nav-block:hover {
    transition: 0.2s;
    background-color: black;
    cursor: pointer;
    color: white;
}

.responsive {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.f1-teams-list {
    border: solid 1px black;
    width: 300px;
}

#table caption {
    font-style: italic;
}

#table table {
    border-collapse: collapse;
}

#intro {
    margin-top: 90px;
    padding-bottom: 70px;
}

#first {
    background-color: black;
    width: 38px;
}

#picture {
    background-color: #ffffff;
}

/** Tund 5 **/

.weird-pic {
    transform: rotate(-10deg) scale(-0.5, 1) translate(50%) skew(100deg);
}

.zoomer {
    transition: 0.6s ease-in;
}

.zoomer:hover {
    transform: scale(1.1);
}

@keyframes swing {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

/** Kell **/

.clock-box {
    position: relative;
    background-image: url('./assets/clock_box.png');
}

.frame {
    width: 554px;
    height: 945px;
}

.clock-face {
    position: relative;
    background-image: url('./assets/clock_face.png');
    width: 369px;
    height: 369px;
    top: 89px;
    left: 92px;
    z-index: 100;
}

.hand {
    position: absolute;
    width: 54px;
    height: 200px;
    left: 50%;
    top: 8px;
    transform-origin: 50% 177px;
    transform: translate(-50%);
}

.clock-sec {
    background-image: url('./assets/second_hand.png');
}

.clock-minute {
    background-image: url('./assets/minute_hand.png');
}

.clock-hour {
    background-image: url('./assets/hour_hand.png');
}

.clock-pendulum {
    position: absolute;
    left: 194px;
    top: 400px;
    background-image: url('./assets/clock_pendulum.png');
    width: 166px;
    height: 388px;

    transform-origin: 50% 0%;
    /*transform: translate(-50%);*/
    animation-name: swing;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.clock-frame {
    position: absolute;
    background-image: url('./assets/clock_frame.png');
    top: 0px;
    left: 0px;
    z-index: 10;
}
