body {
    background-color: #ddeeff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 20px;
    width: 80%;
}

section {
    border: 4px solid #999999;
    margin: 20px 0px;
    padding: 20px;
}

section img {
    border: 4px solid #999999;
}

h3 ~ p {
    text-indent: 1cm;
}

[title] {
    line-height: 150%;
}
